*{
    margin: 0;
    padding: 0;
}
header{
    color: #015f8e;
    background: #fff;
    padding: 1%;
    margin: 1%;
    box-shadow: 2px 8px 8px -2px black;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 29%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    border: 1px solid #c6cacf;
}
.item:hover{
    box-shadow: 0 8px 8px -8px #c6cacf;
}
img{
    width: 300px;
}
.details{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5%;
    margin: 1%;
}
.title{
    font-weight: bold;
    color: #015f8e;
    font-size: 20px;
}
.price{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}
ul{
    list-style-type: none;
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
button{
    margin-top: 25px;
    background: #015f8e;
    color: #fff;
    padding: 15px 40px;
    border-radius: 25px;
    border: 2px solid #fff;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 2px 0px 2px #b8b8bb;
}


@media only screen and (min-width: 350px) and (max-width: 480px){
    header{
        font-size: 30px;
    }
    .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 98%;
        margin: 2%;
        padding: 1%;
        text-align: center;
        border: 1px solid #c6cacf;
    }
    ul{
        font-size: 15px;
    }
}